---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";



// Our variables
$base-font-family: "Roboto", Helvetica, Arial, sans-serif;
$base-font-size:   16px;
$base-font-weight: 400;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #2a7ae2;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;



// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
// @mixin media-query($device) {
//   @media screen and (max-width: $device) {
//     @content;
//   }
// }



// Import partials from `sass_dir` (defaults to `_sass`)
// @import
//         "base",
//         "layout",
//         "syntax-highlighting",
//         "bootstrap"
// ;

@import "bootstrap";

@font-face {
    font-family: TakeOut;
    src: url(fonts/CHINESETAKEAWAY.ttf);
} 

ul {
  margin: 0;
  padding: 0;
}

.project-list-item {
  display: inline-block;
  list-style: none;
  padding: 20px;  
  transition: margin 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}



.project-gif {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
  opacity: 0.9;
  transition: opacity 0.1s ease;
  //transition-delay: 0.05s;


}

.project-gif:active {
opacity: 0.75;


}

.project-gif:hover {
  opacity: 1.0;

}



.project-title {
  margin-top: 0px;
  font-weight: 400;
  letter-spacing: 0.3pt;
  transition: font-weight 0.1s ease;
  transition: letter-spacing 0.1s ease;
}

img.content-image {
  width: 100%;
  margin-bottom: 30px;
}

img.content-image-vertical {
  width: 50%;
  margin-bottom: 30px;
}

iframe {
  width: 100%;
  height: 400px;
}


// HEADER

.header-text {
  font-family: TakeOut;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: url(../images/header.gif) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 15pt;
  font-size: 2em;
  opacity: 0.85;
  transition: margin-top 0.8s ease;
  transition: opacity 0.3s ease;
  transition: letter-spacing 0.1s ease;





}

.header-text:active {
opacity: 0.75;

}

.header-text:hover {
  opacity: 0.3;
  letter-spacing: 5.9pt
}




.footer-text {
  font-family: TakeOut;
  color: white;  /* Fallback: assume this color ON TOP of image */
  background: url(../images/header.gif) ;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  letter-spacing: 0pt;
  font-size: 1em;
}

a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  color: black;
}



#project-row{
  opacity: 0.0;
  transition: opacity 1s ease-out;
    transition-delay: 1.5s;
}

// #header-row{
//   opacity: 0.0;
//   transition: opacity 1s ease-out;
// }


// JEFF

.pre-title {
  font-weight: 300;
}



.title-main {
  font-weight: 100;
  font-size: 32px;
  letter-spacing: 1pt; 
}

.title-main-about {
  font-weight: 100;
  font-size: 32px;
  letter-spacing: 1pt;
  margin-top: 10%;
  margin-bottom: 5%;
}


.title-main-about {
  font-weight: 100;
  font-size: 32px;
  letter-spacing: 1pt;
  margin-top: 10%;
  margin-bottom: 5%;
}



.title-main-cap {
  font-weight: lighter;
  font-size: 18px;
  letter-spacing: 0pt;
}

.title-secondary a {
  color: #000000;
  font-weight: bolder;
  opacity: 0.6;
  font-size: 14px;
  letter-spacing: .15pt;
}

h4 {
  font-size: 16px;
}

// .title-secondary a:hover {
//   text-decoration: none;
//   color: #000000;
//   opacity: 0.7;
//   -webkit-transition: all .5s ease-in-out;
//   -moz-transition: all .5s ease-in-out;
//   transition: all .5s ease-in-out;
// }

// p {
//   font-size: 16px;
//   text-align: left;
// }



.lead {
  opacity: 0.87;
  font-size: 16px;
  line-height: 1.8em;

}
.lead-center {
  opacity: 0.7;
  font-size: 16px;
  line-height: 1.8em;
  text-align: center
} 









  


.tagline {
  width: 540px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20%
}

 @media (max-width: 700px) {
    .tagline {
      width:350px;
    }
  }



.description-image{
  width:540px;
}



.svgMask{
  padding: 15px;
  opacity: 1.0;
}

 @media (max-width: 800px) {
    img.svgMask {
    }
  }

  // .svgMask:hover {
  //   opacity: 0.9;

  // }



body .projectSVG {
  width: 95px;
  height: 95px;
}


.iconbox {
  padding-bottom: 15px;
    

}
.iconbox > div {
    text-align: center;
 
    display: inline-block;
}
.iconbox p {
    margin: 0;

}


  .project-col {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 45px;
  }

  .project-list-item {
    margin: -13px;
  }

  .project-title {
  margin-top: 10px;
  font-weight: normal;
  letter-spacing: 0.6pt;
  font-size: 12px;
  opacity: 0.7;

}


.header-text {
 
  letter-spacing: 6pt;
  font-size: 2.8em;
 


}

#project-row{
    transition-delay: 0.4s;
}

#header-row{
  transition-delay: 0.3s;
}



//responsive
@media screen and (max-width:800px) {


  .project-gif {
    width: 100px;
    height: 100px;
    opacity: 1.0;
  }

  .header-text {

  padding-top: 0px;
  margin-top: -10px;

  }

  .project-list-item {
      padding-top: 10px;

  }



}



@media screen and (min-width: 800px) {
  .project-col {
    width: 350px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 45px;
  }

  .project-list-item {
    margin: -13px;
  }

  .project-gif {
    width: 100px;
    height: 100px;
    opacity: 0.05;
  }

}


//   .project-title {
//   margin-top: 5px;
//   font-weight: 800;
//   letter-spacing: 0.3pt;
//   font-size: 12px;
//   opacity: 0.88;

//   .container-fluid {
//   max-width: 800px;
// }

// .description {
//   width: 600px;
// }

// .lead {
//   font-size: 16px;
//   line-height: 40px;
// }



// }


// .header-text {
 
//   letter-spacing: 10pt;
//   font-size: 1.8em;
//   margin-bottom: 0px;
// }

// #blurb{
//   padding-left: 60px;
//   padding-right: 60px;
//   margin-top: -30px;
//   margin-bottom: -900px;
//   font-weight: 300;
//   letter-spacing: 1.3px;
//   font-size: 12px;
//   line-height: 2.0;
// }


// }

// //not ready yet
// @media screen and (min-width: 1500px) {
//   .project-col {
//     width: 1300px;
//     margin-right: auto;
//     margin-left: auto;
//     padding-top: 100px;
//   }

//   .project-list-item {
//     margin: 10px;
//     margin-left: -45px;
//     margin-right: -45px;
//   }

//   .project-gif {
//     width: 200px;
//     height: 200px;
//     opacity: 0.04;
//     transition: opacity 0.3s ease;



//   }

//   .project-title {
//   margin-top: 12px;
//   font-weight: 200;
//   letter-spacing: 0.3pt;
//   font-size: 18px;
//   max-width: 100px;
//   margin: 0px;
//   opacity: 0.01;
//   visibility: hidden;
// }

// .project-title:hover {
//   opacity: 1.0;
// }


// .header-text {
 
//   letter-spacing: 6pt;
//   font-size: 1.8em;

 


// }


// }






//helper

.buffer {
  margin-top: 20px;
}

.buffer2 {
  margin-top: 40px;
}

.buffer3 {
  margin-top: 60px;
}

.buffer4 {
  margin-top: 80px;
}

.buffer5 {
  margin-top: 100px;
}


.buffer-bot {
  margin-bottom: 20px;
}

.buffer-bot2 {
  margin-bottom: 40px;
}

.buffer-bot3 {
  margin-bottom: 60px;
}

.buffer-bot4 {
  margin-bottom: 80px;
}

.buffer-bot5 {
  margin-bottom: 100px;
}

#loading-row {
  padding: 0px;
  margin: 0px;
}

.row {
  margin-left: auto;
  margin-right: auto;

  max-width: 700px
  
}

p {
  opacity: 0.87;
}

#blurb{
  font-weight: 400;
  font-spacing: 1.6;
  opacity: 0.74;
  line-height: 2;

}

.title-main-about {
font-size: 24px;
font-weight: 400;
opacity: 0.87;
line-height: 48px;
padding-bottom: 0;
margin-bottom: 0;

}

// .loading-screen {
//   position: fixed;
//   top: 40%;
//   left: 25%;
//   margin-top: -50px;
//   margin-left: -100px;
//   opacity: 1.0;
//   transition: all 0.1s ease;

// }

#blurb-loading {
 text-align: center;
  
}


.loading {
  position: absolute;
  left: 50%;
  top: 50%;
  margin: -25px 0 -25px 0;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  border-left: 1px solid rgba(0, 0, 0, .1);
  border-right: 1px solid rgba(0, 0, 0, .1);
  border-top: 1px solid rgba(0, 0, 0, .4);
  border-radius: 100%;
  height: 24px;
  width: 24px;
  transition: all 0.3s ease;

  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  animation: rot .6s infinite linear;
}
@keyframes rot {
  from {transform: rotate(0deg);}
  to {transform: rotate(359deg);}
}

.loading-caption-container {
 width: 300px;
  height: 100px;
 overflow: auto;
  margin: auto;
  position: fixed;
  top: 0; left: 0; bottom: 0; right: 0;
  transition: all 0.3s ease;

 
}

#loading-caption {
text-align: center;
transition: all 0.3s ease;

}





.description {
  transition: all 0.3s ease;
}



.name {
padding-top: 30px;  
padding-left: 30px;
padding-right: 30px;
padding-bottom: 30px;
margin: auto;
opacity: 0.87;

}

body {
opacity: 0.0;
transition: all 0.3s ease;


}


