/* * {
  border: 1px solid red;
} */

@font-face {
  font-family: akkurat-mono;
  src: url(../assets/fonts/Akkurat-Mono.otf); }
@font-face {
  font-family: akkurat;
  src: url(../assets/fonts/Akkurat-Bold.ttf); }
    
html {
  background-color: black;
  color: white;
  font-family: akkurat, sans-serif;
}

header {
  padding: 16px;
  margin-bottom: 32px;
  display: flex;
  /* flex-direction: column; */
  position: absolute;
  top: 0;
  right: 0;
  
}

a, .text-unit, .counter {
  color: #11FFD4;
  text-decoration: none;
  font-family: akkurat-mono;
  font-size: 12px;
  letter-spacing: 0.2px;
  letter-spacing: 1.6px;
}

a:hover {
  color: white;
}

header a, footer a {
  margin: 8px;
}

h2 {
  font-weight: normal;
   margin: 0;
   font-size: 32px;
   line-height: 36px;
   letter-spacing: 0px;
   margin-block-start: 80px;
   margin-block-end: 24px;
   word-break: break-all;
   text-transform: lowercase;
}

p {
  font-size: 20px;
  line-height: 28px;
  font-weight: 400;
  margin-block-start: 16px;
  margin-block-end: 0px;
}

.container-projects {
  margin: 16px;
}

.container-item {
  width: 90%;
  margin: auto;
  display: flex;
  justify-content: center;
  margin-top: 12px;
}

.container-item-lead {
  margin-top: 124px;
}

.container-item-text {
  width: 240px;
  padding: 24px;
  padding-right: 64px;
}

.container-item-text-profile {
  width: 40%;
}

.img-item {
  width: 72%;
  /* height: auto; */
  /* max-width: 540px; */
  max-width: 1200px;
  border-radius: 12px;
  /* opacity: 0.3; */
  opacity: 1.0;
  transition: 0.3s ease;
}


/* .img-item:hover{
  opacity: 1.0 !important;
} */

.profile-text {
  max-width: 640px;
  /* font-size: 24px; */
  line-height: 36px;
  font-weight: 400;
  font-size: 24px;
  padding-right: 56px;  
}


.pinterest {
  display: flex;
  justify-content: start;
  align-items: center;
  /* flex-direction: column; */
  /* width: 400px; */
  flex-wrap: wrap;
  width: 72%;
  max-width: 1200px;
  /* width: 550px; */
}

.pinterest>.pic{
  /* width: 280px;
  height: 280px; */
  width: 140px;
  height: 64px;
  display: block;
  margin: 4px;
  border-radius: 4px;
}

.mini {
  border-radius: 8px;
  width: 100%;
  margin: 4px;
  height: 80px;
}



#test {
  
}

body {
  margin: 0px;
}

.text-about{
  font-size: 54px;
  letter-spacing: -4px;
  margin: 0;
  line-height: 1.2;
  color: black;
  text-shadow:
  -1px -1px 0 #fff,  
   1px -1px 0 #fff,
   -1px 1px 0 #fff,
    1px 1px 0 #fff;
}

.container-counter {
  flex-direction: column;
}

.container-counter-row {
  align-items: baseline;
  display: flex;
  height: 50px;
}


.text-unit {
    /* font-size: 12px; */
    letter-spacing: normal;
    padding-left: 8px;
    /* text-transform: capitalize; */
    font-weight: bold;
    transform: rotate(90deg);
    
}

canvas {
  
  z-index: -1;
  border-radius: 12px;

}

#playlist{
  border-radius: 12px;
}

.profile-content-container {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: fit-content;
}

.profile-content-block {
  width: 44%;
  height: 200px;
  border-radius: 12px;
  margin: 8px;
  background-color: rgba(255,255,255,0.15);
}

.block-double {
  height: 480px;
}


.profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* margin: 4px; */
  /* transform: rotate(180deg); */
}

.mapouter, .gmap_canvas {
  border-radius: 12px;
}

.i4ewOd-pzNkMb-haAclf {
  background-color: rgb(24,24,24) !important;
}

.mapouter {
  background-color: black;
  
}

.counter {
  /* font-size: 14px; */
}

.theory-text {
  min-width: 240px;
  width: 50%;
  max-width: 340px;
 }


@media only screen
and (max-width : 720px)
 {

  .container-item {
    flex-direction: column;
    /* s */
  }

  .container-item-lead {
    margin-top: 92px;
}

  .container-item-text {
    max-width: 520px;
    width: 88%;
    padding-bottom: 48px;
    min-width: 0px;
  }


  /* pinterest */
  .pinterest>.pic {
    width: 24%;
    margin: 0.5%;
  }

  /* portfolio image */
  .img-item, .pinterest, 
  .profile-content-container {
    width: 100%;
  }

  .no-text {
    display: none;
  }


  /* profile stuff clean up */

  .container-item-text-profile {
    width: 90%;
    margin: 0 auto;
  }
  
  .profile-text, .container-item-text {
    padding-right: 0;
  }

  .profile-content-block {
    width: 100%;
    height: 160px;
  }

  .hide {
    display: none;
  }

  
  /* .profile-content-container {
    
  }

  .container-item-text-profile {
    width: 100%;
    min-width: 480px;
  }

  .profile-content-block {
    width: 100%;
  } */
  

 }

 .container-item-text > a {
  /* font-size: 12px; */
 }

.fab {
  padding: 4px;
  padding-bottom: 52px;
}


