
<footer>

  <div class="container">
    <div class="row buffer5">
      <div class="col-sm-10 col-sm-offset-1 text-center">
        
       <a href="/"> <h5 class="project-title">
      >   >  > > H O M E < <  <   < <h5> </a>
    
       
      </div>
    </div>
  </div>

  <div class="row buffer2">
  </div>

</footer>


<!-- <script src="{{site.url}}/scripts/jquery.min.js"></script>
<script src="{{site.url}}/scripts/main.js"></script> -->

<script src="{{site.url}}/scripts/jquery.min.js"></script>
<script src="{{site.url}}/scripts/main.js"></script>
